<html>
  <head>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <h1>New Messagess</h1>
    <form method="POST" action="/new" class="message-form">
      <input type="text" id="author" placeholder="name" />
      <textarea
        name="message"
        id="message"
        placeholder="your message"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
