<html>
  <head>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Message Details</h1>
    <div class="message-container">
      <div class="username">From: <%= message.username %></div>
      <div class="text">Message: <%= message.text %></div>
      <div class="date">Added: <%= message.added %></div>
    </div>
    <a href="/">Back to Messages</a>
  </body>
</html>
